/*Fonts*/
@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/PTsansBold/PTS75F-webfont.eot');
    src: url('../fonts/PTsansBold/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTsansBold/PTS75F-webfont.woff') format('woff'),
         url('../fonts/PTsansBold/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/PTsansBold/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/PTsansRegular/PTS55F-webfont.eot');
    src: url('../fonts/PTsansRegular/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTsansRegular/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTsansRegular/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTsansRegular/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**/
/*CONTENT*/

/*Global*/
.green-btn { background: #50c3af !important; } 

/*Header*/
.header {
  position: relative;
  height: 589px;
  display: block;
  /*СЃСѓРїРµСЂ РЅРµ-HD РєР°СЂС‚РёРЅРєР°, РіР°РґРЅР° Рµ Р·Р° РґСѓС€Р°С‚Р° Рё РѕС‡РёС‚Рµ*/
  background: url('../images/header-bg.jpg') 0px 0px no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 47px;
  left: 50%;
  margin: 0 0 0 -64px;
  font-family: 'Yellowtail'; /*Р·Р°РјРµСЃС‚РЅРёРєСЉС‚ РЅР° Belinda*/
  font-weight: normal;
  font-size: 53px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.navigation {
  position: absolute;
  top: 158px;
  left: 50%;
  margin-left: -189px;
  font-family: 'OpenSans';
  font-size: 13px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation ul {
  margin: 0;
  list-style: none;
}

.navigation ul li:last-child {
  margin-right: 0px;
}

.navigation ul li {
  display: inline-block;
  margin-right: 38px;
}
/* claim */ 


.claim                    { margin:0 auto;left: 0;right: 0; top: 210px; max-width: 520px; position: absolute;}

.claim .headline1,
.claim .headline2         { color:#fff; text-transform:uppercase; text-align:center;}

.claim .headline1         { font:700 53px 'Ubuntu', sans-serif;}
.claim .headline2         { font:700 15px/24px 'PT Sans', sans-serif; padding:0 133px; position:relative;}

.claim .headline2:before,
.claim .headline2:after   { content:''; background:#a9a9a9; height:2px; width:101px; top:50%; position:absolute;}

.claim .headline2:before  { left:0;}
.claim .headline2:after   { right:0;}

#claim-btn                { font:700 15px/24px 'PT Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; 
  bottom: 70px;
  width: 234px;
  height: 46px;
  line-height: 46px;
  transition: background 0.4s linear 0.2s,
  color 0.4s linear 0.4s;
  border: 1px solid #50c3af;
}
#claim-btn:hover { background: transparent !important; color: #50c3af;}
/* ------------------------------------------------------------- */
/* => Georgi -Nina section
/* ------------------------------------------------------------- */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: block;
}
a {
  text-decoration:none;
  color:#50c3af;
  background:transparent;
  -webkit-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}

.wrapper-ninvis{
  width:100%;
  background: #eeeeef;
  }
/* ------------------------------------------------------------- */
/* => CONTAINER
/* ------------------------------------------------------------- */
.container{
  margin:0 auto;
  max-width:600px;
  width:100%;
  position:relative;
  }
/* ------------------------------------------------------------- */
/* => LAYOUT
/* ------------------------------------------------------------- */
.info-ninvis{
  margin:0 0.83%;
  font:400 14px/24px 'PT Sans', sans-serif;
}
.column-ninvis{
  width:32.2%;
  float:left;
  margin-right:1.69%;
  text-align: center;
  padding:52px 0 62px 0;
  }
.column-ninvis:last-child{
  margin-right:0;
  }
.title-ninvis{
  text-transform:uppercase;
  color:#384048;
  font-size:16px;
  font-weight:700;
  border-bottom:2px solid #e2e3e4;
  padding:62px 15px 20px 15px;
  margin-bottom:20px;
  display:inline-block;
  background:url(../images/01-ninvis.png) no-repeat center 10px;
  -webkit-transition:all 0.4s ease-in-out;
  -o-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}
.column-ninvis:nth-child(2) .title-ninvis{
  background:url(../images/02-ninvis.png) no-repeat center 3px;
  }
.column-ninvis:last-child .title-ninvis{
  background:url(../images/03-ninvis.png) no-repeat center top;
  }
.text-ninvis{
  color:#787b80;
  margin:0; 
  }

.column-ninvis a:hover .title-ninvis{
  color:#50c3af;
  }
/* Section: Fully Supported template... */
.wrapper{
  background-color: #eeeeef;
  padding: 1% 2% 10% 6%;
  width: 100%;
  height: 100%;
  box-sizing:border-box;
  
}

.wrapper-content{
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  box-sizing:border-box;
}

.content{
  position: relative; 
  margin:0 0.83%;
  box-sizing:border-box;
}

h2{
    text-transform: uppercase;
}

h2 span{
    float:left;
    margin-right:15px;
    margin-top: -3px;
    margin-left: -7px;
}

h2 img{
    vertical-align:middle;
}

.button{
  height: 35px;
  width: 100px;
  color: #fff;
  background-color: #d2d5da;
  text-align: center;
  text-decoration: none;

  line-height: 52px;
  vertical-align: middle;

  border-radius: 18px;

  float:left;
  margin: 0.8%
}
.text{
  vertical-align: middle;
  margin-top: -8px;
}
hr {
  float: none;
  width: 100%;
  height: 2px;
  border: none;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(216,217,218)),
      color-stop(1, rgb(237,237,238))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(216,217,218) 0%,
      rgb(237,237,238) 100%
  );
}
/*

/*Section with 3 articles*/

.sectionVera{
    margin: 0 auto;
    /*padding: 5% 20% 5% 20%;*/
    width: 100%;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#787b80;

}
.wrapperVera{
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 600px;
    /*padding-left: 13%;*/
    /*overflow: hidden;*/
}
.boxVera{
    width: 181px;
    float: left;
    overflow: hidden;
    margin: 0 1%;
    box-sizing: border-box;
}
.borderVera{
    border-bottom: 2px solid #e9e9ea;
}
.titleVera{
    font-weight: bold;
    font-size: 15px;
    color: #384048;
    text-transform: uppercase;
}
.boxVera p{
    margin: 26px 0 28px 0;
}
.boxVera a{
    color: #50c3af;
    text-decoration: none;
}
.layered-psd{
    height: auto;
    margin-bottom: 20%;
}
.compatibility{
    height: auto;
    margin-bottom: 20%;
}
.modules{
    height: auto;
    margin-bottom: 20%;
}
.boxVera:nth-child(1){
    margin-left: 5%;
}
.boxVera:nth-child(3){
    margin-right: 0;
}
/**/

/*Info section*/
.info{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 22%;
    background-color: #eeeeef;
    box-sizing: border-box;
}
.info-article{
    width: 35%;
    padding: 20px 50px;
    float: left;
    overflow: hidden;
}
.info-title{
  font-size: 18px;
  color: #40474e;
  padding-left: 40px;
  position: relative;
}
.icon-send{
    font-family: 'pt_sansregular';
}
.icon-send:before{
    content: '';
    background: url('../images/iconsend.png') no-repeat 0px 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top:-5px;
}
.icon-very{
    font-family: 'pt_sansbold';
}
.icon-very:before{
    content: '';
    background: url('../images/iconvery.png') no-repeat 0px 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top:-7px;
}
.info-text{
    font-family: 'pt_sansregular';
    font-size: 14px;
    color: #787b80;
    padding: 30px 0;
    position: relative;
}
.info-text:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: grey;
    opacity: 0.1;
}
.info-button{
    text-decoration: none;
    font-family: 'pt_sansregular';
    font-size: 14px;
    color: #f5f5f5;
    padding: 7px;
    background-color: #50c3af;
    border-radius: 10px;
}
/**/

/*Kris and Sasho A.*/
.ka-main-wrapper{
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 5% 5% 5% 10%;
  /*height: auto;*/
}

.ka-wrapper-content{
  max-width: 600px;
  width: 100%;

  margin: 0 auto;
}

.ka-box{
  float: left;
}

.ka-image{
  position: relative;
  width: 43%;
  margin-right: 1%;
  padding: 3% 1%;

 /* padding-top: 61px;
  padding-bottom: 61px;
  padding-left: 12.5%;
  margin-right: 4.5%;*/
  float: left;
}
.ka-image img{
  width: 100%;
}
.ka-content{
  float: left;
  width: 50%;
  /*width: 35.75%;
  margin-right: 13.75%;
  padding-top: 61px;
  padding-bottom: 61px;*/
}
.ka-title{
  position: relative;
  font-size: 18px;
  font-family: "pt_sansregular";
  color: rgb( 41, 49, 57 );
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 90%;
  padding: 0 5% 0 5%;

}
.ka-fade-line{
  display:block;
    margin: 25px 15px;
    height: 2px;
    background: #f1f1f1;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#E9E9EA), to(#F3f3f3), color-stop(80%, #F1F1F1));
}
.ka-main-text{
  position: relative;
  font-size: 14px;
  font-family: "pt_sansregular";
  color: rgb( 120, 123, 128 );
  text-align: justify;
  width: 90%;
  padding: 0 5% 0 5%;
  line-height: 1.33;
  margin: 35px 0 33px 0;
}
.ka-radial-button{
  background-color: rgb(210,213,218);
  border: none;
  height: 35px;
  width: 100px;
  color: white;
  border-radius: 25px;
  margin-left: 5%;
}
.ka-background{
  background-size: 100%;
  background-color: #f5f5f5;
}

/*CLear fix class*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/**/

/**/
