html, body{
	height: 100%;
}

body{
    padding: 0;
	margin: 0 auto;

	font-size: 16px;

	font-family: 'Varela Round', sans-serif;
	color: white;
	background-color: grey;

	width: 100%;
}

/************ HEADER ************/
/*header{
	color: #fff;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;

	margin: 0 auto;
	padding: 0;
	width: 100%;
}*/

.header-wrapper{
	background: url(../images/night.jpg) 0px 0px / contain no-repeat; 
	background-size: 100%;
	height: 100%;

	margin: 0 auto;
	position: relative;
    overflow: hidden;
    /*padding: 2% 0 50% 0;*/
    
    top: 0;
    box-sizing: border-box;
}

h1{
	text-transform: uppercase;

	margin: 20px 20px -10px 20px;
	font-family: "Varela Round";
	text-align: center;
	letter-spacing: 5px;
	font-size: 2vw;
}

nav{
	display: block;
	overflow: hidden;
	text-align: center;
	/*width: 960px;*/
	width: 93.75%;
	/*margin: 0 auto 230px;*/
	margin: 0 auto 22.4609375%;
}

nav ul{
	list-style-type: none;

	padding: 3.92625% 0 0 0;
	margin: 0 auto;

	text-align: center;
}

nav li{
	margin: 0 3.92625%;
	display: inline-block;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	margin-right: 2.34375%;
	font-size: 1vw;
}

.rimg{
	/*width: 5.17578125%;*/
	outline: 0;
	max-width: 100%;
	height: auto;
}

.header-content{
	margin: 0 auto;
	text-align: center;
	position: relative;

	max-width: 75.1953125%;
	height: 100%;
}

.header-content p{
	margin-bottom: 2.34375%;
	letter-spacing: 2px;
}

.social-links{
	bottom: 0;
	width: 11.5234375%;
	margin-left: -5.76171875%;
	margin-bottom: 0.9765625%;
	position: absolute;
	left: 50%;
}
/************ END HEADER ************/

/************ MAIN CONTENT ************/
/*.content-item{
	margin:0;
	padding: 0;

	position: relative;
	overflow: hidden;

	color: #000;
}*/

.content-item{
	height: 100%;

	margin: 0 auto;
	position: relative;
    overflow: hidden;
    padding: 2% 0 36.25% 0;

    box-sizing: border-box;

    color: #000;
}

.represent{
	background: url(../images/handphone.jpg) 0px 0px / contain no-repeat;
	background-size: 100%;
}

.design{
	background: url(../images/iphone-photo.jpg) 0px 0px / contain no-repeat; 
	background-size: 100%;
}

.subscribe{
	background: url(../images/iphone-form.jpg) 0px 0px / contain no-repeat; 
	background-size: 100%;
	padding: 2% 0 60.25% 0;

}

.comunity{
	background-color: #eee;

	text-align: center;
	vertical-align: middle;

	margin: 0 auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.positioning{
	margin: 0 auto;
	width: 70%;

	/*vertical-align: middle;

	padding: 40px;*/
}

h3{
	text-transform: uppercase;
}



.represent p{
	width: 58.59375%;
}

.contents{
	position: relative;
	height: 19.53125%;
  	width: 58.59375%;  
  	left: 9.765625%;
  	right: 12.20703125%;
  	top: 4.8828125%;
  	bottom: 4.39453125%;
}

h2{
	text-transform: uppercase;
	color: #16a085;
	font-size: 2vw;
}

.design > .contents{
	float: right;
	position: relative;
	height: 19.53125%;
  	width: 58.59375%;  
  	left:0;
  	right: 9.765625%;
  	top: 18.8828125%;
  	bottom: 4.39453125%;
}

.comunity-item{
	float: left;

	/*padding: 20px;*/

	margin: 85px;
	/*position: relative;
	overflow: hidden;*/

	width: 18%;

	box-sizing: border-box;
}

/************ END MAIN CONTENT ************/


/************ BUTTONS ************/
.button{
	background-color: #16a085;
	height: 52px;

	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	line-height: 52px;
	vertical-align: middle;

	border-radius: 4px;
	padding: 20px;

	/*margin: 2.395% 12.207% 2.395% 9.76563%*/
}

.btn-app {
	padding-left: 32px;
	width: 264px;
	
	display: block;

	background-color: #1abc9c;

	text-align: left;
	position: relative;
}
/************ END BUTTONS ************/
