body{
    margin: 0 auto;
    padding: 0;
}

.wrapper{
    width: 100%;
}

.conten-wrapper{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 970px;
    background-color: red;
}

.parallax{
    position: absolute;
}

.red-pepper{
    top: 0;
    left: 0
    z-index: 1;
}

.apricot{
    top: 360px;
    left: 0;
    z-index: 2;
}

.cherry-tomato{
    top: 348px;
    left: 78px;
    z-index: -3;
}

.green-pepper{
    top: 502px;
    left: 398px;
    z-index: -4;
}

.bacon-roll{
    top: 250px;
    left: 231px;
    z-index: -5;
}

.bacony{
    top: 0;
    right: 0;
}

.salami{
    top: 0;
    left: 1495px;
}

.yellow-cheese{
    top: 312px;
    right: 0px;
}