.jsonTbl{
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.objTbl-td{;
	border-right: 1px solid #ddd;
	padding: 5px;
}

.objTbl-th{
    border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
	font-weight: bold;
}