.main-header{
	background: url("../images/header-background.png") 0px 0px / contain no-repeat;
	background-size: 100%;

	position: relative;
    overflow: hidden;
    margin: 0 0.2% 0.2% 0;
    top: 0;
    box-sizing: border-box;
}

h1{
	margin: 30px;
	padding: 30px;
	word-spacing: 3px;
}

.logo > img{
	padding-top: 185px;
	width: 40px;
}

.header-content{
	text-transform: uppercase;
	word-spacing: 3px;
	font-size: 12px;
}

.main-content{
	width: 100%;
	position: relative;
	overflow: hidden;
	display: block;
}

body{
    margin: 0 auto;
    padding: 0;
}

nav{
	background: #ddd;
	overflow: hidden;
	box-sizing: border-box;

	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.main-nav-item {
	position: relative;
    padding-bottom: 11.25%;
    height: 0; 
    overflow: hidden;
    float: left;
    margin: 0 0.2% 0.2% 0;
    top: 0;
    box-sizing: border-box;
}

.main-nav-item:nth-child(4),
.main-nav-item:nth-child(5),
.main-nav-item:nth-child(6){
	margin-bottom: 0;
}

.main-nav-item:nth-child(3),
.main-nav-item:nth-child(6){
	margin-right: 0;
}

.main-nav-item span{
	position: absolute;
    left: 25px;
    bottom: 13px;
    color: white;
    text-transform: uppercase;
    font-size: 2vw;
    font-family: 'latobold';
    letter-spacing: 5px;
}

nav > div > div > a:hover{
	text-shadow: 0.4px 0.4px 1px #fff;
}

.top-workz{
	background: url('../images/topworkz.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 30%;
}

.joint{
	background: url('../images/joint.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 39%;
}

.market{
	background: url('../images/market.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 30%;
}

.work-top{
	background: url('../images/worktop.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 30%;

}

.lable{
	background: url('../images/lable.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 39%;
}

.kyiv{
	background: url('../images/kyiv.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 30%;
}

h1 {
  display: inline-block;
  padding: 0 25px;
  position: relative;
  width: 20%;
}

h1:before,
h1:after {
  background: #ddd;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 50%;
  width: 200%;
}
h1:before {
  right: 100%;
}
h1:after {
  left: 100%;
}

.content-heading {
  overflow: hidden;
  text-align: center;
  width: 60%;
  margin: 0 auto;  
  box-sizing: border-box;
}

.content-item{
    border-right: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-left: 3px solid #ddd;
    margin: -46px auto;
    width: 60%;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;
    text-align: center;
}

.main-content{
	margin-bottom: 80px;
}

footer{
	background: #ddd;
	overflow: hidden;
	box-sizing: border-box;
}

.footer-content{
	margin: 0 auto;
	width: 60%;
	text-align: center;
	padding: 5px;
}


/*
.label{
	background: url("../images/lable.png") no-repeat 100% 100%;*/
	/*width: 32%;*/
	/*height: 237px;
	float: left;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	background-size: contain;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.label:nth-last-child(6){
	clear: both;	
}

.label-item-small{
	width: 28.5%;	
}

.label-item-big{
	width: 41.5%;	
}

.label:nth-child(3),
.label:nth-child(6){
	margin-right: 0;	
}

.label-item-small{
	background: url("../images/market.png") no-repeat 100% 100%;	
	height: 237px;
	float: left;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	background-size: contain;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.label h2{
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	bottom: 0;
	padding: 5px;
}
*/

footer{
	color: #000;
	font-family: Myriad Pro;
	text-align: center;
	display: block;
	/*position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	font-size: 11px;*/
}

footer img{
	height: 20px;
	vertical-align: middle;
	margin: 20px;
}