body { 
	padding: 0;
	margin: 0;

	font-size: 16px;

	   font-family: 'Varela Round', sans-serif;
	   color: white;
	   background-color: grey;


}
#wrapper {
	width: 100%;
	margin: 0 auto;
}
.main { margin: 0;

}
/************************************
	
***********************************/
.bg {
	height: 745px;
	background: url(images/night.jpg) no-repeat center center fixed; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
nav {
	width: 960px;
	margin: 0 auto 230px;
}
.menu {
	padding: 40px 0 0 0;
	margin: 0 auto;

	text-align: center;
}
.menu li {
	margin: 0 40px;
	display: inline-block;
}
.menu li a {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.menu li a:hover {
	color: blue;
}

.paff {
	max-width: 770px;
	margin: 0 auto;
	text-align: center;

	position: relative;
}
.title-head {
	margin: 0 auto 10px;
	font-size: 36px;
	color: #fff;
}
.slogon {
	margin-bottom: 24px;
	color: #fff;
}

.button {
	height: 52px;

	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	line-height: 52px;
	vertical-align: middle;

	border-radius: 4px;
	padding: 20px;
}
.btn-green {
	background-color: #16a085;
}

.btn-app {
	padding-left: 32px;
	width: 264px;
	
	display: block;

	background-color: #1abc9c;

	text-align: left;
	position: relative;
}
.btn-ios:after,
.btn-an:after {
	content: "";
	
	width: 56px;
	height: 52px;
	display: block;

	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;

	background-repeat: no-repeat;



	background-color: #16a085;

	position: absolute;
	top: 0;
	right: 0;
}
.btn-an:after {
	
	background-image: url("images/android icon.png");
	
}
.btn-ios:after {
	
	background-image: url("images/apple icon.png");
	
}
/*.btn-an:after {
	content: "";
	width: 56px;
	height: 52px;
	display: block;


	
}*/
/*.paff .button {
	width: 166px;
	margin: 0 auto;
	display: block;
}*/
.social {
	width: 118px;
	margin-left: -59px;
	position: absolute;
	bottom: 0;
	left: 50%;
}

/*.header ul, li { list-style-type: none;
			 	 text-align: center;
			 	 text-transform: uppercase;
			 	 float: left;
			 	 margin: 0px 30px 60px 30px;
			 	 display: block;
			 	 line-height: 70px;
			 	 vertical-align: top;
			 	



}*/

/* .header { background-image: url("images/night.jpg") ;
		  
		  width: 900px;
		  height: auto;
		  overflow: hidden;

} */

.header h1 { margin: 20px 20px -10px 20px;
			 text-transform: uppercase;
			 font-family: "Varela Round";
			 text-align: center;
			 letter-spacing: 5px;

}

.header p { text-align: center;

}

#getstarted { 
	          text-decoration: none;
	          text-align: center;
	          background-color: #16a085;
	          color: white;
	          margin: 10px;

}


/*                                      Header */


/*                                       Box2 */

#box2 {
	text-align: right;
	
}

#box2 p {
	width:300px;
}

#box2 a { 
	          text-decoration: none;
	          background-color: #16a085;
	          color: white;
	          margin: 10px;
	          display: block;

}


/*                                       Box2 */

/*                                       Box2 */
/*                                       Box2 */


/*                                       Box2 */
/*                                       Box2 */


/*                                       Box2 */
/*                                       Box2 */



.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}