@charset "utf-8";

html,
body,
#view{
  height: 100%;
}

body {
  background: #95a5a6;
  background-image: url(../images/debut_dark.png);
}
/***********************************************************************************************************************
                        Clearfix
***********************************************************************************************************************/
.clearfix:before, .clearfix:after {
	content: "";
	display: block;
}
.clearfix:after {
	content: "";
	clear: both;
}
/***********************************************************************************************************************
                        Login
***********************************************************************************************************************/
.wrapper {
	max-width: 960px;
	padding: 0 15px;
	margin: 0 auto;
}
header {
	background-color: #333;
	height: 50px;
	padding: 0 20px;
	width: 100%;
	margin-bottom: 50px;
}
.container {
  padding: 0 20px;
}
nav {
	width: 100%;
	height: 50px;
}
.nav-link {
	color: grey;
	line-height: 50px;
	display: inline-block;
	height: 50px;
	width:100px;
	text-decoration: none;
	text-align: left;
	font-size: 14px;
	padding: 0 15px;
	/*border-radius: 2px;*/
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.nav-link:last-of-type {
	margin-right: 0;
}
.nav-link:hover,
.nav-link-active {
	/*background-color: #444;*/
	background-color: #ecf0f1;
}
.tabs {
  background: #c4c4c4;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 20px;

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.tabs li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
.title {
	font-size: 30px;
	color: #333;
	padding: 30px 0;
	text-align: center;
}
section {
	width: 100%;
}
.fluid-form {
	margin: 0 auto;
	max-width: 480px;
	width: 100%;
}
.fluid-form fieldset {
	width: 100%;
	padding-bottom: 20px;
	position: relative;
}
.fluid-form fieldset label {
	font-size: 14px;
	color: #333;
	display: block;
	padding-bottom: 7px;
	padding-left: 7px;
	width: 100%;
	cursor: pointer;
}

.fluid-form fieldset.fieldset-label{
  padding-bottom: 0px;
 /* position: relative;
  overflow: hidden;
  margin: 0 auto;*/
}

/*.fluid-form fieldset.fieldset-label label{
  padding-left: 0px;
  float: left;
  width: 50%;
}

.fluid-form fieldset.fieldset-label label{
  padding-left: 0px;
  float: left;
  width: 50%;
}*/

fieldset textarea{
  min-height: 300px;
}

input#doc-id{
  visibility: hidden;
  height: 0;
  padding: 0; 
}

fieldset input,
fieldset textarea {
	font-size: 14px;
	color: #333;
	display: block;
	height: 50px;
	width: 100% !important;
	padding: 12px 20px;
	border: 1px solid #aaa;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	padding-left: 30px;
}

fieldset input:focus,
fieldset textarea:focus {
	border: 1px solid #27ae60;
}

 fieldset input::-webkit-input-placeholder,
 fieldset textarea::-webkit-textarea-placeholder {
   color: #aaa;
}

 fieldset input:-moz-placeholder,
 fieldset textarea:-moz-placeholder { /* Firefox 18- */
   color: #aaa;
}

fieldset input::-moz-placeholder,
fieldset textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #aaa;
}

fieldset input:-ms-input-placeholder,
fieldset textarea:-ms-textarea-placeholder {
   color: #aaa;
}

button.form-btn{
  border: 1px solid #27ae60;
  background-color: #27ae60;
  color: #fff;
  max-width: 480px;
  width: 100%;
  padding: 15px 0;
  margin: 0 0 15px 0;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

button.form-btn:hover {
	background-color: #2ecc71;
}


.hidden-section {
	display: none;
}

.section-active {
	display: block;
}

.flat-form {
  background: #ecf0f1;
  margin: 200px auto 50px;
  max-width: 480px;
  width: 100%;
  height: auto;
  position: relative;
  font-family: 'Roboto';
  border-radius: 2px;
}

.fontello-icon{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
     
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: absolute;
    left: 5px;
    margin-top: 15px;
}

.fieldset-login-error{
  display: none;
}

#login-error{
  color: red;
}

.invalid-lable{
  color: red !important;
}

.invalid-input{
  border-color: red !important;
}
/***********************************************************************************************************************
                                        Error messages
***********************************************************************************************************************/
.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}
.fluid-form .parsley-error, .fluid-form .parsley-error:focus {
    color: #960000;
    background-color: #F2DEDE;
    border: 1px solid #960000;
}
.parsley-errors-list {
    padding: 5px;
    color: #960000;
    list-style-type: none;
    font-size: 14px;
    line-height: 14px;
    opacity: 0;

    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.parsley-errors-list.filled {
    opacity: 1;
}
.fluid-form .parsley-error::-webkit-input-placeholder {
   color: #960000;
}
.fluid-form .parsley-error:-moz-placeholder { /* Firefox 18- */
   color: #960000;
}
.fluid-form .parsley-error::-moz-placeholder {  /* Firefox 19+ */
   color: #960000;
}
.fluid-form .parsley-error:-ms-input-placeholder {
   color: #960000;
}
/***********************************************************************************************************************
                        home page
***********************************************************************************************************************/
.home {
  margin: 0 auto;
  position: relative;
  background-color: #ecf0f1;
  overflow: hidden;
  color: #000;
  width: 100%;
  padding: 7px;
  border-bottom: 5px solid #27ae60;
}

.content {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 500px;
  height: 100%;
}

.home-viewport,
.content-wrapper {
  width: 70%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.home-wrapper,
.info-wrapper {
  float: left;
  width: 50%;
}

.documents-list-wrapper,
.document-view-wrapper {  
  background-color: #c4c4c4;
  float: left;
  height: 100%;
  min-height: 500px;
  border: 5px solid transparent;
  border-right: 0px solid transparent;
  padding: 15px;
  
  -webkit-border-image: url(../images/debut_dark.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/debut_dark.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../images/debut_dark.png) 30 round;
}

.documents-list-wrapper{
  width: 30%;
  overflow: auto;
  padding: 0;
}

.document-view-wrapper {
  width: 70%;
}

h1 {
  margin: 0 auto;
}

.info-wrapper {
  text-align: right;
}

.info-wrapper p {
  width: 90%;
  float: left;
}

.avatar-img {
  /*float: left;*/
  width: 7%;
}

#info-name,
.avatar-img {
  margin-left: 3px;
  margin-right: 0px;
  padding: 0;
}

.content-wrapper{
  color: grey;
  height: 100%;
}

button.new-document{
  max-width: 100px;
  width: 100px;
  padding: 7px;
}

.doc-item{
  height: 90px;
  overflow: hidden;
  padding-top: 10px;
}


button.btn-doc-item{  
  background-color: #ecf0f1;
  border: 0px solid #ecf0f1;
  border-bottom: 1px solid gray;
  text-decoration: none;
  color: grey;
  text-align: left;
  width: 100%;
  /*padding: 0 0 0 10px;*/
  margin: 0;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

button.btn-doc-item:hover,
button.btn-active{
  background-color:  #ddd !important;
  cursor: pointer;
}

.doc-item-title{
  font-size: 14pt;
}

.doc-item-date{
  font-style: italic;
}

.func-buttons{
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.doc-buttons{
  float: left;
  width: 50%;
}

.doc-buttons:nth-child(2){
  text-align: right;
}

.doc-btn {
  background-color: transparent;
  border: 0 solid transparent;
  font-size: 14pt;
  color: #27ae60;
  cursor: pointer;
}

.doc-btn:hover{
  color:  #2ecc71;
  cursor: pointer;
}



/***********************************************************************************************************************
                        Media Queries Desktop 1319
***********************************************************************************************************************/
@media (max-width: 1319px) {

}

/***********************************************************************************************************************
                        Media Queries Tablet 1025
***********************************************************************************************************************/
@media (max-width: 1025px) {

}

/***********************************************************************************************************************
                        Media Queries Tablet Min 1024
***********************************************************************************************************************/
@media (min-width: 1024px) {

}

/***********************************************************************************************************************
                        Media Queries Desktop 1023
***********************************************************************************************************************/
@media (max-width: 1023px) {

}

/***********************************************************************************************************************
                        Media Queries Desktop 769
***********************************************************************************************************************/
@media (max-width: 769px) {

}

/***********************************************************************************************************************
                        Media Queries Tablet 768
***********************************************************************************************************************/
@media (max-width: 768px) {

}
/***********************************************************************************************************************
                        Media Queries Tablet 540
***********************************************************************************************************************/
@media (max-width: 540px) {

}

/***********************************************************************************************************************
                        Media Queries Mobile 480
***********************************************************************************************************************/
@media (max-width: 480px) {

}

/***********************************************************************************************************************
                        Media Queries Mobile 320
***********************************************************************************************************************/
@media (max-width: 320px) {}