@charset "utf-8";
/***********************************************************************************************************************
                        Clearfix
***********************************************************************************************************************/
.clearfix:before, .clearfix:after {
	content: "";
	display: block;
}
.clearfix:after {
	content: "";
	clear: both;
}
/***********************************************************************************************************************
                        Login
***********************************************************************************************************************/
.wrapper {
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
header {
	background-color: #333;
	height: 50px;
	padding: 0 20px;
	width: 100%;
	margin-bottom: 50px;
}
nav {
	width: 100%;
	height: 50px;
}
.nav-link {
	color: #fff;
	line-height: 50px;
	display: inline-block;
	height: 50px;
	text-decoration: none;
	font-size: 14px;
	padding: 0 15px;
	border-radius: 2px;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.nav-link:last-of-type {
	margin-right: 0;
}
.nav-link:hover {
	background-color: #444;
}
.title {
	font-size: 30px;
	color: #333;
	padding-bottom: 30px;
	text-align: center;
}
section {
	width: 100%;
}
.fluid-form {
	margin: 0 auto;
	max-width: 480px;
	width: 100%;
}
.fluid-form fieldset {
	width: 100%;
	padding-bottom: 20px;
}
.fluid-form fieldset label {
	font-size: 14px;
	color: #333;
	display: block;
	padding-bottom: 7px;
	padding-left: 7px;
	width: 100%;
	cursor: pointer;
}
.fluid-form fieldset input {
	font-size: 14px;
	color: #333;
	display: block;
	width: 100%;
	padding: 12px 20px;
	border: 1px solid #aaa;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}
.fluid-form fieldset input:focus {
	border: 1px solid #27ae60;
}
.fluid-form input[type="submit"] {
	border: 1px solid #27ae60;
	background-color: #27ae60;
	color: #fff;
	width: 480px;
	padding: 15px 0;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.fluid-form input[type="submit"]:hover {
	background-color: #2ecc71;
}




/***********************************************************************************************************************
                        Media Queries Desktop 1319
***********************************************************************************************************************/
@media (max-width: 1319px) {

}

/***********************************************************************************************************************
                        Media Queries Tablet 1025
***********************************************************************************************************************/
@media (max-width: 1025px) {

}

/***********************************************************************************************************************
                        Media Queries Tablet Min 1024
***********************************************************************************************************************/
@media (min-width: 1024px) {

}

/***********************************************************************************************************************
                        Media Queries Desktop 1023
***********************************************************************************************************************/
@media (max-width: 1023px) {

}

/***********************************************************************************************************************
                        Media Queries Desktop 769
***********************************************************************************************************************/
@media (max-width: 769px) {

}

/***********************************************************************************************************************
                        Media Queries Tablet 768
***********************************************************************************************************************/
@media (max-width: 768px) {

}
/***********************************************************************************************************************
                        Media Queries Tablet 540
***********************************************************************************************************************/
@media (max-width: 540px) {

}

/***********************************************************************************************************************
                        Media Queries Mobile 480
***********************************************************************************************************************/
@media (max-width: 480px) {

}

/***********************************************************************************************************************
                        Media Queries Mobile 320
***********************************************************************************************************************/
@media (max-width: 320px) {}