
.icon-save:before { content: '\e800'; } /* '' */
.icon-delete:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-key:before { content: '\e803'; } /* '' */