
body {
	margin: 0;
}
.topworkz {
	width: 29%;
		background:  url('../img1.png') no-repeat;
	float: left;
	margin-right: 1%;
	position: relative;

}
.joint {
	width: 40%;
	background: url('../img2.png') no-repeat;
	float: left;
	margin-right: 1%;
}
.market {
	width: 29%;
	background:  url('../img3.png') no-repeat;
	float: left;

}
.worktop {
	width: 29%;
	background: url('../img4.png') no-repeat;
	float: left;
	margin-right: 1%;
}
.lable {
	width: 40%;
	background:  url('../img5.png') no-repeat;
	float: left;
	margin-right: 1%;
}
.kyiv {
	width: 29%;
	background: url('../img6.png') no-repeat;
	float: left;
	
}
p {
	padding: 100px 500px 30px 25px;
	font-size: 30px;
	text-transform: uppercase;
	
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.roll1 {
	left: 0;
	right: 0;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.roll2 {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}