html, body{
	height: 100%;
}

body{
	background-color: #eee;

	margin: 0 auto;
	padding: 0;

	font-family: 'Varela Round', sans-serif;
}

nav{
	position: absolute;
	text-align: center;
	top: 0;
	margin: 0 auto;
	margin-top:1.5%;
	width: 100%;
}

nav > ul{
	margin: 0;
	padding: 0;
}

nav > ul > li{
	display: inline-block;
	padding-right: 2%;
	padding-left: 4%;
}

nav > ul > li > a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1vw;
}

.social-links{
	position: absolute;
	/*position: relative;*/
	text-align: center;
	bottom: 0;
	margin: 0 auto;
	margin-bottom: 9.6%;
	width: 100%;
}

/********** END HEADER **************/

/**************** MAIN CONTENT *****************/

.content-item{
	height: 100%;

	margin: 0 auto;
	position: relative;
    overflow: hidden;
    padding: 2% 0 36.25% 0;

    box-sizing: border-box;

    color: #fff;
}

.main-header{
	background: url(../images/night.jpg) 0px 0px / contain no-repeat;
	background-size: 100%;
	padding: 2% 0 56.25% 0;

	margin: 0 auto;
	position: relative;
    overflow: hidden;
    box-sizing: border-box;

    color: #fff;
}

.represent{
	background: url(../images/handphone.jpg) 0px 0px / contain no-repeat;
	background-size: 100%;
}

.design{
	background: url(../images/iphone-photo.jpg) 0px 0px / contain no-repeat; 
	background-size: 100%;
}

.comunity{
	padding: 6% 0 6% 0;
	width: 65%;
	margin: 0 auto; 
}

.subscribe{
	background: url(../images/iphone-form.jpg) 0px 0px / contain no-repeat; 
	background-size: 100%;
	padding: 2% 0 6.25% 0;
}
/**************** END MAIN CONTENT *****************/

/**************** CONTENT item *****************/
/**************** CONTENT item: represent *****************/
.contents{
	position: absolute;
	margin: 0 auto;
	text-align: left;

	height: 50%;
	/*max-width: 75%;*/

	padding: 4% 6.4% 6.4% 6.4%;
}

.contents > h2{
	text-transform: uppercase;
	color: #16a085;
	width: 34%;
	margin-bottom: 3%;
	font-size: 2vw;
}

.contents > p{
	color: #000;
	width: 45%;
	line-height: 180%;
	margin-bottom: 3%;
	font-size: 1vw;
}
/**************** END CONTENT item: represent *****************/

/**************** CONTENT item: design *****************/
.design .contents{
	padding: 8% 6.4% 6.4% 56.4%;
}

.design .contents > p{
	width: 85%;
	margin-bottom: 5%; 
}
/**************** END CONTENT item: design *************/


/**************** CONTENT item: subscribe *************/
.subscribe, 
.download{
	margin: 0 auto;
	text-align: center;

	position: relative;
	overflow: hidden;
}

.subscribe .contents{
	position: relative;
	padding: 20%;
	margin: 0 auto;
	text-align: center;

	width: 50%;
	height: 50%;
	max-width: 75%;
}

.subscribe .contents > h2{
	color: #fff;
	width: 100%;
	text-align: center;
}

.main-header .main-contents,
.download .contents{
	position: absolute;
	margin: 0 auto;
	padding: 15% 0;
	text-align: center;

	width: 100%;
}

.download .contents{
	padding: 3% 3%;
	box-sizing: border-box;
}


.main-header .main-contents > h2{
	text-transform: uppercase;
	color: #fff;;
	font-size: 2vw;
}

.main-header .main-contents > p{
	color: #fff;
	line-height: 180%;
	margin-bottom:3%;
	font-size: 1vw;
}
/**************** END CONTENT item: subscribe *************/

.download .contents > h2{
	color: #000;
	width: 100%;
	text-align: center;
}

.download .contents > p{
	width:100%;
	margin-bottom: 50px;
	box-sizing: border-box;
  	padding: 0 10% 0 10%;
}

/**************** END CONTENT item*****************/
.community-item{
	float: left;
	width: 33%;
	text-align: center;

	color: #000;
	font-size: 1vw;

	margin: 0;
	box-sizing: border-box;
}

.community-item:nth-child(1),
.community-item:nth-child(2){
	margin-right: 0.5%;
}

.community-item > h2{
	text-transform: uppercase;
	font-size: 2vw;
}


@media screen and (max-width: 600px){
	.community-item{
	float: none;
	width: 100%;
	}
	.community-item > h2{
		font-size: 18px;
	}
	.community-item > p{
		font-size: 14px;
	}
}

img {
    max-width: 100%;
    height: auto;
}

/************ BUTTONS ************/
.button{
	background-color: #16a085;
	/*height: 52px;*/
	height: 5%;

	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	line-height: 5%;
	vertical-align: middle;

	border-radius: 4px;
	/*padding: 20px 25px 20px 25px;*/
	padding: 2% 2.5% 2% 2.5%;
}

.btn-apple {
	padding-left: 32px;
	width: 264px;
	
	display: block;

	background-color: #1abc9c;

	text-align: left;
	position: relative;
}

.btn-ok{
	position: relative;
	left: -10px;
	padding: 20px 25px 20px 25px;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-store-wrapper{
	position: relative;

	margin: 0 auto;
	width: 100%;
}

.btn-store{
	float: left;

	margin: 0 auto;
}

.btn-green{
	background-color: green;
	padding: 3%;
	box-sizing: border-box;
  	margin: -7% 113px;
}
/************ END BUTTONS ************/

.i-main{
	width: 30%;

	font-weight: bold;

	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	vertical-align: middle;

	border: 0px solid #fff;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	padding: 22.5px 25px 22.5px 25px;
}

footer{
	background-color: #fff;
	/*padding: 3%;*/
	box-sizing:border-box;
}

.footer-content{
	background-color: #fff;
}

.footer-links{
	width: 75%;
	padding-top: 1.5%;
	padding-left: 12%;
	box-sizing:border-box;
}

.footer-links > ul{
	margin: 0;
	padding: 0;
}

.footer-links > ul > li{
	display: inline-block;
}

.footer-links > ul > li:after {
   content: "|"; 
   padding: 0 .5em; 

   color: #16a085;
}

.footer-links > ul > li:last-child:after {
   content: " ";  
}


.footer-links > ul > li > a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 1vw;
}

.footer-links > p{
	font-size: 1vw;
	box-sizing:border-box;
}

.footer-content{
	float: left;
	width: 100%;
	height: 100%;

	background-color: #fff;
}

.footer-logo{
	/*height: 20px;*/
	vertical-align: middle;
	margin: 20px;
}

.floated{
	float: left;
}

.btn-floated{
	float: left;
}

.btn-apple-store{
	/*background-color: green;*/
    box-sizing: border-box;
    display: inline-block;
    line-height: unset;
    padding: 20px 25px;
}

.apple{
	background-color: #16aaaa;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 18px 25px;
}

.android{
	background-color: #16aaaa;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 16.5px 25px;
}

.docked{
	position: relative;
	margin: 0 -2px;
}

.button-positioning{
	height: 100px;
    margin: 0 1%;
    position: relative;
    text-align: center;
    width: 100%;
}

.button-positioning-left{
	box-sizing: border-box;
    float: left;
    height: 100px;
    padding-left: 29%;
    position: relative;
    width: 50%;
}

.button-positioning-right{
    position: relative;
  	height: 100px;
  	float: left;
  	width: 50%;
}

a > span{
	font-size: 2vw;
}
