/*Fonts*/
@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/PTsansBold/PTS75F-webfont.eot');
    src: url('../fonts/PTsansBold/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTsansBold/PTS75F-webfont.woff') format('woff'),
         url('../fonts/PTsansBold/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/PTsansBold/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/PTsansRegular/PTS55F-webfont.eot');
    src: url('../fonts/PTsansRegular/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTsansRegular/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTsansRegular/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTsansRegular/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

