/*Fonts*/
@font-face {
    font-family: 'latobold';
    src: url('fonts/Lato-Bold-webfont.eot');
    src: url('fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Bold-webfont.woff2') format('woff2'),
         url('fonts/Lato-Bold-webfont.woff') format('woff'),
         url('fonts/Lato-Bold-webfont.ttf') format('truetype'),
         url('fonts/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/Lato-Regular-webfont.eot');
    src: url('fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular-webfont.woff2') format('woff2'),
         url('fonts/Lato-Regular-webfont.woff') format('woff'),
         url('fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**/

html, body{
	height: 100%;
}

body{
    margin: 0 auto;
    padding: 0;
}

/***********  HEADER  ***********/
header{
	color: #fff;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.header-wrapper{
	background: url("../images/header-background.png") 0px 0px / contain no-repeat;
	background-size: 100%;
	height: 100%;
	/*height: 753px;*/
	position: relative;
    overflow: hidden;
    margin: 0 auto;
    top: 0;
    box-sizing: border-box;
}

.header-content{
	text-transform: uppercase;
	word-spacing: 3px;
	font-size: 12px;
	letter-spacing: 1px;
}

.header-link{
	position: absolute;
	top: 75%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

/* heading in header component*/
h1{
	margin: 30px;
	padding: 30px;
	word-spacing: 3px;

	font-family: "latobold";
    font-size: 2vw;
    letter-spacing: 5px;
}

.header-logo > img{
	padding-top: 200px;
	width: 40px;
}

/***********  END HEADER  ***********/

/***********  CONTENT  ***********/
.main-content{
	margin-bottom: 100px;
	margin-top: 80px
}

.content-heading {
  overflow: hidden;
  text-align: center;
  width: 60%;
  margin: 0 auto;  
  box-sizing: border-box;
}

.content-item{
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    margin: -33px auto;
    width: 60%;
    padding: 50px 50px 50px 50px;
    box-sizing: border-box;
    text-align: center;
}

.content-services{
	background: url('../images/services.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%; 
	margin: 0 auto;
	position: relative;
    overflow: hidden;
    padding: 2% 0 22.25% 0;

    box-sizing: border-box;

    color: #fff;    
}

/* content item heading */
h2 {
  display: inline-block;
  padding: 0 80px;
  position: relative;
  width: 30%;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
}

h2:before,
h2:after {
	display: table;
  background: #000;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 200%;
}

h2:before {
  right: 100%;
}

h2:after {
  left: 100%;
}

/* special content item - color: #fff; background: url(...); */
.content-services > h2{
	color: #fff;
}

.content-services h2:before,
.content-services h2:after{
	background: #fff;
}

.content-services > .content-item{
	border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

/* special content item - subtitles <h3> and images <img> inside*/
h3{
	text-transform: uppercase;
	letter-spacing: 2px;
}

.content-item-child{
	padding: 50px;
}

.content-item-contacts{
	padding-bottom: 5%;
}

.content-item a{
	background: #000;
	padding: 2% 14% 2% 14%;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

/***********  MAIN CONTENT  ***********/

/***********  NAVIGATION  ***********/
nav{
	overflow: hidden;
	box-sizing: border-box;

	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.main-nav-item {
	position: relative;
    padding-bottom: 11.25%;
    height: 0; 
    overflow: hidden;
    float: left;
    margin: 0 0.5% 0.5% 0;
    top: 0;
    box-sizing: border-box;
}

.main-nav-item:nth-child(4),
.main-nav-item:nth-child(5),
.main-nav-item:nth-child(6){
	margin-bottom: 0;
}

.main-nav-item:nth-child(3),
.main-nav-item:nth-child(6){
	margin-right: 0;
}

.main-nav-item span{
	position: absolute;
    left: 25px;
    bottom: 13px;
    color: white;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-family: 'latobold';
    letter-spacing: 5px;
}

nav > div > div > a:hover{
	text-shadow: 0.4px 0.4px 1px #fff;
}

.top-workz{
	background: url('../images/topworkz.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 30%;
}

.joint{
	background: url('../images/joint.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 39%;
}

.market{
	background: url('../images/market.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 30%;
}

.work-top{
	background: url('../images/worktop.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 30%;

}

.lable{
	background: url('../images/lable.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 39%;
}

.kyiv{
	background: url('../images/kyiv.png')0px 0px / contain no-repeat;
	background-size: 100%;
	width: 30%;
}
/***********  END NAVIGATION  ***********/

/***********  FOOTER  ***********/
footer{
	overflow: hidden;
	box-sizing: border-box;
}

.footer-content{
	margin: 0 auto;
	width: 60%;
	text-align: center;
	padding: 5px;
}

footer img{
	height: 20px;
	vertical-align: middle;
	margin: 20px;
}

/***********  END FOOTER  ***********/