

main {
	position: relative;
	display: block;
	overflow: hidden;
}

.text-col1, .text-col2, .image-col1, .image-col2{
	position: relative;
	display: block;
	float: left;
	padding: 0px;
	margin: 0px;
	width: 25%;
}
/*
.text-col1, .text-col2{
	width: 20%;
	text-align: justify;
}

.image-col1{
	width: 35%;
}

.image-col2{
	width: 15%;
}
*/
img{
	width: 100%;
	display: block;
}
.hidden .text-col1{
	display: none;
}

.hidden .image-col2{
	display: none;
}

.hidden .text-col2{
	width: 30%;
}

.hidden .image-col1{
	width: 70%;
}