<div class="home">
    <div class="home-viewport">
        <div class="home-wrapper">
            <h1>Notes Manager</h1>
        </div>
        <div class="info-wrapper">
            <p>Wellcome<span id="info-name"></span></p>
            <img src="images/user_avatar.png" alt="User avatar" class="avatar-img">
        </div>
    </div>
</div>

<div class="content">
	<div class="content-wrapper">
		<div id="documents-list" class="documents-list-wrapper">
		</div>
		<div class="document-view-wrapper">	
			<div class="document-form">
				<div class="func-buttons">
					<div class="doc-buttons">
						<button id="new-document" class="form-btn new-document" onclick="clearInputs()">New Note</button>
					</div>
				
					<div class="doc-buttons">
						<button id="save-document" class="doc-btn icon-save" onclick="addDocument()" title="Save"></button>
						<button id="delete-document" class="doc-btn icon-delete" onclick="removeDocument()" title="Delete"></button>
					</div>
				</div>
				
				<form id="doc-preview">
					<fieldset>
						<input type="text" name="doc-id" id="doc-id">
						<input type="text" name="doc-title" id="doc-title" placeholder="Untitled">
						<textarea rows="4" cols="50" id="doc-text">
						</textarea>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>