<div class="container">
    <div class="flat-form">
        <nav class="navigation" role="main">
            <ul class="tabs">
                <li><a id="login" class="nav-link nav-link-active" href="#/login">Login</a></li>
                <li><a id="register" class="nav-link" href="#/register">Register</a></li>
            </ul>
        </nav>
        <section id="placeholder-login" class="">
            <h1 class="title">Login</h1>
            <div class="wrapper">
                <form class="fluid-form" action="" method="POST" name="loginform" id="loginform">
                    <fieldset id="fieldset-error" class="fieldset-label fieldset-login-error">
                        <label id="login-error" for="login-username">Failed to login</label>
                    </fieldset>
                    <fieldset class="fieldset-label">
                        <label id="login-username-lbl" for="login-username">Username</label>
                    </fieldset>
                    <fieldset>
                        <div id="log-user-error"></div>
                        <i class="fontello-icon icon-user"></i>
                        <input type="text" name="username" id="login-username" placeholder="Username">
                    </fieldset>
                    <fieldset class="fieldset-label">
                        <label id="login-password-lbl" for="login-password">Password</label>
                    </fieldset>
                    <fieldset>
                        <div id="log-pass-error"></div>
                        <i class="fontello-icon icon-key"></i>
                        <input type="password" name="password" id="login-password" placeholder="Password">
                    </fieldset>
                </form>
                <button id="submit-login" class="form-btn" onclick="login()">Sign in</button>
            </div>
        </section>
    </div>
</div>