<div class="container">
    <div class="flat-form">
        <nav class="navigation" role="main">
            <ul class="tabs">
                <li><a id="login" class="nav-link" href="#/login">Login</a></li>
                <li><a id="register" class="nav-link nav-link-active" href="#/register">Register</a></li>
            </ul>
        </nav>
        <section id="placeholder-register" class="">
            <h1 class="title">Register</h1>
            <div class="wrapper">
                <form class="fluid-form" action="" method="POST" name="registerform" id="registerform">
                    <div class="invalid-form-error-message"></div>

                    <fieldset class="fieldset-label">
                        <label id="reg-username-lbl" for="reg-username">Username</label>
                    </fieldset>
                    <fieldset>
                        <div id="reg-user-error"></div>
                        <i class="fontello-icon icon-user"></i>
                        <input type="text" name="username" id="reg-username" placeholder="Username">
                    </fieldset>
                     <fieldset class="fieldset-label">
                        <label id="reg-password-lbl" for="reg-password">Password</label>
                    </fieldset>
                    <fieldset>
                        <div id="reg-pass-error"></div>
                        <i class="fontello-icon icon-key"></i>
                        <input type="password" name="password" id="reg-password" placeholder="Password">
                    </fieldset>
                     <fieldset class="fieldset-label">
                        <label id="reg-confirm-password-lbl" for="confirm_password">Confirm Password</label>
                    </fieldset>
                    <fieldset>
                        <div id="reg-conf-pass-error"></div>
                        <i class="fontello-icon icon-key"></i>
                        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                    </fieldset>
                </form>
                <button id="submit-register" class="form-btn" onclick="registerUser()">Register</button>
            </div>
        </section>
    </div>
</div>