body{
}

header{
	background: url("../images/header-background.png") 0px 0px / contain no-repeat;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-family: Myriad Pro;
	text-align: center;
}

h1{
	margin: 30px;
	padding: 30px;
	word-spacing: 3px;
}

.logo > img{
	padding-top: 185px;
	width: 40px;
}

.header-content{
	text-transform: uppercase;
	word-spacing: 3px;
	font-size: 12px;
}

.header-link{
	padding: 300px 0px 0px 0px;
}

.header-link > img{
	width: 18px;
	position: absolute;
	bottom: 0px;
}

.main-content{
	text-align: center;
}

.about-us{
	margin: 20px;
}

.about-us-background{	
	background: url("../images/about-us.png")  no-repeat top center;
	width: 100%;
	height: 424px;
	display: inline-block;
}

.about-us-heading{
	text-transform: uppercase;
	padding: 20px;
}

.about-us-content{
	display: inline-block;
  	vertical-align: middle;
  	padding: 40px;
}

.services{	
	color: #fff;
}

.services-background{
	background: url("../images/services.png")  no-repeat top center;
	background-position: center;
	width: 100%;
	height: 312px;
	display: inline-block;
}

.services-heading{
	text-transform: uppercase;
	padding: 10px;
}

.services-content{
	display: inline-block;
  	vertical-align: middle;
  	padding: 40px;
}

.contact-us-background{
	background: url("../images/contacts.png")  no-repeat top center;
	background-position: center;
	width: 100%;
	height: 406px;
	display: inline-block;
}

.contact-us-heading{
	text-transform: uppercase;
	padding: 20px;
}

.contact-us-content{
	display: inline-block;
  	vertical-align: middle;
  	padding: 40px;
}

.contacts-link{
	background-color: #000;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	width: 300px;
}

footer{
	color: #000;
	font-family: Myriad Pro;
	text-align: center;
	display: block;
	/*position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	font-size: 11px;*/
}

footer img{
	height: 20px;
	vertical-align: middle;
	margin: 20px;
}

