body {
    padding: 0;
    margin: 0 auto;

    background-color: #8ae4fe;
    font-family: Arial, sans-serif;
}
/******************************************************************************

    Header

******************************************************************************/
header {
    padding-top: 40px;
    height: 50px;
    margin: 0 0 20px 0;
    background-color: #fff;
}
header ul {
    margin: 0;

    list-style-type: none;
}
header ul li {
    float: left;
}
header ul li a {
    color: #1f81b5;
    margin: 0 24px;

    font-weight: bold;
    text-decoration: none;
}
header ul li a:hover {
    color: #cacaca;
}

/******************************************************************************

    Header

******************************************************************************/
nav,
.wrapper,
main {
    width: 624px;
    margin: 0 auto;

    overflow: hidden;
}
.box {
    width: 302px;
    height: 482px;
    margin-bottom: 20px;

    float: left;

    background-color: #fff;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box:nth-child(even) {
    margin-left: 20px;
}
.buttons {
    padding: 0;
    width: 206px;
    height: 52px;
    margin: 0 auto;

    display: block;

    border: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-weight: bold;
    color: #fff;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.blue-btn {
    background-color: #2a99d6;
}
.blue-btn:hover {
    background-color: #1A7DB3;
}

/*****************
    Miss Chance
******************/
.miss-chance {
    padding: 20px;

    background-color: #2a99d6;

    color: #fff;
    text-align: center;
}
.miss-chance img {
    margin: 20px auto;
}
.miss-chance p {
    width: 50%;
    margin: 0 auto 30px;
}
.miss-chance a {
    background-color: #f2c345;
}
.miss-chance a:hover {
    background-color: #D7A521;
}

/*****************
    Photography
******************/
.photography {
    color: #fff;
}
.photography > img {
    display: block;
}
.photography div {
    padding: 20px;
    height: 110px;

    background-color: #3eba77;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.photography div > p,
.photography div > a {
    margin: 0;

    float: left;

    color: #fff;
    text-decoration: none;
}
.photography div > a:hover {
    text-decoration: underline;
}
.photography div span {
    margin: 0 0 20px 6px;
    float: right;
}
.photography > p,
.photography > a  {
    font-weight: bold;
}

/*****************
    Register
******************/
.register {
    padding: 48px;
}
.register h2 {
    margin: 0 auto 20px;

    font-size: 24px;
    color: #2b3e4e;
    text-align: center;
}
.register p,
.tiffany p {
    font-size: 16px;
    color: #818991;
    text-align: center;
}
.register input {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;

    border: none;
    background-color: #ecf0f1;

    font-size: 16px;
    font-style: italic;
    text-align: center;
}
.register .buttons {
    margin-top: 25px;
}

/*****************
    Tiffany
******************/
.tiffany {
    padding: 50px 20px;
    position: relative;
}
.tiffany h3 {
    margin: 0 auto 20px;

    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 22px;
    text-align: center;
}
.tiffany .close {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 16px;
    right: 16px;
}
.tiffany .buttons > img {
    vertical-align: middle;
}
.tiffany .buttons > span {
    font-size: 16px;
    vertical-align: middle;
}
.tiffany .favourite-link {
    margin: 0 auto 50px;

    display: block;

    text-align: center;
    text-decoration: none;
}
.tiffany .favourite-link span,
.tiffany .favourite-link img {
    vertical-align: middle;
}
.tiffany .favourite-link span {
    font-size: 16px;
    color: #818991;
}
.tiffany .favourite-link:hover span {
    color: #1A82EA;
}
.description {
    margin-bottom: 49px;
}
.line {
    margin-bottom: 6px;

    text-align: right;

    position: relative;
    z-index: 1;
}
.line:after {
    content: "";

    height: 1px;
    width: 100%;
    margin: -1px;

    border-bottom: 1px dotted #ccc;

    position: absolute;
    top: 50%;
    left: 0;
}
.line span {
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.line .item {
    padding: 0 6px 0 0;
    float: left;
}
.line .value {
    padding: 0 0 0 6px;
}
/******************************************************************************

    Footer

******************************************************************************/
footer {
    padding-top: 28px;

    background-color: #0c161e;

    overflow: hidden;
}
footer ul {
    margin: 0;
}

footer .wrapper div {
    width: 33%;
    margin-bottom: 30px;

    float: left;

    color: #fff;
}
footer .wrapper h4 {
    color: #185f86;
}
footer .wrapper ul {
    padding: 0;

    list-style: none;
}
footer .wrapper ul li {
    margin-bottom: 10px;
}
footer .wrapper ul li a {
    color: #fff;
    text-decoration: none;
}
footer .wrapper ul li a:hover {
    color: #aaa;
}