<section id="login">
    <h1 class="title">Login</h1>
    <div class="wrapper">
        <form class="fluid-form" action="" method="POST">
            <fieldset>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                 </fieldset>
            <input type="submit"  value="Submit">
        </form>
    </div>
</section>