<section id="register">
    <h1 class="title">Register</h1>
    <div class="wrapper">
        <form class="fluid-form" action="" method="POST">
            <fieldset>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </fieldset>
            <fieldset>
                <label for="confirm_password">Password</label>
                <input type="password" name="confirm_password" id="confirm_password">
            </fieldset>
            <input type="submit"  value="Submit">
        </form>
    </div>
</section>