/*
.article-item:first-child > .article-item {
	width: 100px;
	height: 100px;
	padding: 10px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	margin: 50px;
	box-sizing: border-box;
}
*/
.parent {
	position: relative;
	display: block;
	overflow: hidden;

	display: flex;
}

.parent > .article-item {
	position: relative;
	display: block;
	float: left;

	display: inline-block; /*не може да се контролора разстоянието м/у елментите; бразура го разбира като думи и им добавя допълнително разстояние*/
	width: 100px;
	height: 100px;
	padding: 10px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	margin: 50px;
	box-sizing: border-box;
}

/* директно child*/
/*
.article-item > .article-item{ 
	height: 50px;
	background: #c1c1c1;
}
*/
/* избира само 1 следващ елементи с класа след + */
/*
.article-item + .article-item{
	height: 50px;
	background: #c1c1c1;
}
*/

/* избира всички следващи елементи с класа след ~ */
/*
.article-item ~ .article-item{
	height: 50px;
	background: #c1c1c1;
}
*/

/*всикчи елементи с класа, които са деца, без значение от поколението*/
/*
.article-item  .article-item{
	height: 50px;
	background: #c1c1c1;
}
*/

/*с цел overwrite; има по-голяма тежест*/
/*
article#test-id.article-item.detail{
	height: 100px;
	background: red;
}
*/